# Build artifacts
.build/
build/
DerivedData/

# Swift package files
.swiftpm/
*.xcodeproj/xcuserdata/
*.xcuserdata/
*.xcworkspace/xcuserdata/
**/UserInterfaceState.xcuserstate
Packages/

# Local development
.cursor/rules/
.cursorindexingignore
.DS_Store
.specstory/
*.tmp
release/
scripts/
